
@media (max-width: 850px){

    h1 {
        font-size: 40px;
    }

    .profile-img {
        text-align: center;
    }

}

@media (max-width: 550px) {
    h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    li {
        font-size: 16px;
        padding: 0 15px;
    }

    .profile-img {
        display: block;
    }
}

@media (max-width: 370px) {

    li {
        letter-spacing: 3px;
    }

    dt , dd {
        font-size: 15px;
        margin-bottom: 10px;
    }

    dt {
        width: 100px;
    }
}